.pagy-nav,
.pagy-nav-js {
  @apply flex space-x-2;
}

.pagy-nav .page a,
.pagy-nav .page.active,
.pagy-nav .page.prev.disabled,
.pagy-nav .page.next.disabled,
.pagy-nav-js .page a,
.pagy-nav-js .page.active,
.pagy-nav-js .page.prev.disabled,
.pagy-nav-js .page.next.disabled {
  @apply block rounded-lg px-3 py-1 text-sm text-green-500 font-semibold bg-green-200 shadow-md;
  &:hover{
    @apply bg-green-300;
  }
  &:active{
    @apply bg-green-400 text-white;
  }
}

.pagy-nav .page.prev.disabled,
.pagy-nav .page.next.disabled,
.pagy-nav-js .page.prev.disabled,
.pagy-nav-js .page.next.disabled {
  @apply text-green-400 cursor-default;
  &:hover {
    @apply text-green-400 bg-green-200;
  }
  &:active {
    @apply text-green-400 bg-green-200;
  }
}

.pagy-nav .page.active,
.pagy-nav-js .page.active {
  @apply text-white cursor-default bg-green-400;
  &:hover {
    @apply text-white bg-green-400;
  }
  &:active {
    @apply bg-green-400 text-white;
  }
}


.pagy-combo-nav-js {
  @apply flex max-w-max rounded-full px-3 py-1 text-sm text-green-500 font-semibold bg-green-200 shadow-md;
}

.pagy-combo-nav-js .pagy-combo-input {
  @apply bg-white px-2 rounded-sm
}

.pagy-combo-nav-js .page.prev,
.pagy-combo-nav-js .page.next {
  &:hover {
    @apply text-green-800;
  }
  &:active {
    @apply text-green-800;
  }
}

.pagy-combo-nav-js .page.prev.disabled,
.pagy-combo-nav-js .page.next.disabled {
  @apply text-green-400 cursor-default;
}



.tooltip1 {
  position: relative;
  cursor: pointer;
  display: inline-block;
  z-index: 10
}

.tooltip1 p {
  margin: 0;
  padding: 0;
  z-index: 10
}

.description1 {
  display: inline-block;
  position: absolute;
  padding: 10px;
  font-size: 12px;
  line-height: 1.6em;
  color: #fff;
  border-radius: 5px;
  background: #000;
  width: 100px;
  top: -70px;
  left: -30px;
  z-index: 10
}

.description1:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border: 15px solid transparent;
  border-top: 15px solid #000;
  margin-left: -15px;
  z-index: 10
}

.tooltip1:hover .description1 {
  display: inline-block;
  top: -70px;
  left: -30px;
  z-index: 10
}

.balloon {
  position   : absolute;                /* 指定した分だけ相対的に移動 */
  padding: 10px;                        /* テキストの前後の余白 */
  background-color: #ff4500;       /* 背景色（透明度） */
  width:130px;                          /* 吹き出し全体の幅 */
  left : 110%;                           /* 表示位置 */
  top : -50%;
  border-radius: 5px;
  color: white;
}
.balloon:after{
  border-right: 20px solid #ff4500;  /* 吹き出し口の幅・色 */
  border-top: 10px solid transparent;     /* 吹き出し口の高さ１／２ */
  border-bottom: 10px solid transparent;  /* 吹き出し口の高さ１／２ */
  left: -20px;                            /* 吹き出し口の位置調整 */
  /* top : 50%;                       吹き出し口の縦位置 */
  content: "";                       /* コンテンツの挿入 */
  position: absolute;                /* 親要素を基準 */
}

.notification {
  width: 100%;
}
.notification .notice {
  background-color: #38AEF0;
  color: #fff;
  text-align: center;
}
.notification .alert {
  background-color: #ea352d;
  color: #fff;
  text-align: center;
}