*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  touch-action: manipulation;
}

.window-resize {
  height: calc(var(--vh, 1vh) * 100 - 4rem);
}


.notification {
  width: 100%;
}
.notification .notice {
  background-color: #38AEF0;
  color: #fff;
  text-align: center;
}
.notification .alert {
  background-color: #ea352d;
  color: #fff;
  text-align: center;
}
