.balloon1 {
  background-color: #ff4500;
  position: absolute;
  padding:1px 10px 1px;
  top: 55px;
  right: 112px;
  border-radius: 5px;
  color: white;
  text-align: center;
  z-index: 11;
}

.balloon1:after {
  border-bottom: 12px solid #ff4500;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  content: '';
  margin-left: -10px;
  position: absolute;
  bottom: 19px;
  left: 50%;
}

.balloon2 {
  background-color: #ff4500;
  position: absolute;
  padding:1px 10px 1px;
  top: -34px;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.balloon2:after {
  border-top: 12px solid #ff4500;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  content: '';
  margin-left: -10px;
  position: absolute;
  bottom: -12px;
  left: 50%;
}

.balloon3 {
  background-color: #ff4500;
  position: absolute;
  width:130px;
  top: 53px;
  left: 50px;
  border-radius: 5px;
  color: white;
  text-align: center;
}
.balloon3:after {
  border-bottom: 12px solid #ff4500;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  content: '';
  margin-left: -10px;
  position: absolute;
  bottom: 19px;
  left: 50%;
}

.balloon4 {
  background-color: #ff4500;
  position: absolute;
  width:130px;
  top: -5px;
  left: 80px;
  border-radius: 5px;
  color: white;
  text-align: center;
}
.balloon4:before {
  border-top: 12px solid #ff4500;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  content: '';
  margin-left: -10px;
  position: absolute;
  bottom: -11px;
  left: 30px;
}
.balloon4:after {
  border-top: 12px solid #ff4500;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  content: '';
  margin-left: -10px;
  position: absolute;
  bottom: -11px;
  left: 90px;
}

.balloon5 {
  background-color: #ff4500;
  position: absolute;
  width:150px;
  top: 36px;
  left: -54px;
  border-radius: 5px;
  color: white;
  text-align: center;
}
.balloon5:after {
  border-bottom: 12px solid #ff4500;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  content: '';
  margin-left: -10px;
  position: absolute;
  bottom: 19px;
  left: 50%;
}
