.relative.flex.items-center.justify-center.py-12.px-4.sm:px-6.lg:px-8.relative.items-center.bg-green-200
  .max-w-7xl.w-full.space-y-8.p-10.bg-white.rounded-xl.shadow-lg.z-10
    .grid.gap-8.grid-cols-1
      .flex.flex-col
        .flex.flex-col.sm:flex-row.items-center
          h1.block.w-full.text-center.text-green-400.text-2xl.font-bold.mb-6
            | Myメニュー作成
          .w-full.sm:w-auto.sm:ml-auto.mt-3.sm:mt-0
          img.object-cover.object-center.block[alt="ecommerce" src="https://dummyimage.com/120x120"]
          select.border.border-gray-300.rounded-full.text-gray-600.h-10.pl-5.pr-10.bg-white.hover:border-gray-400.focus:outline-none.appearance-none
            option
              | 食材
            option
              | 主菜
            option
              | 副菜
            option
              | 飲み物
            option
              | デザート
            option
              | お菓子
            option
              | 食材
            option
              | セット
            option
              | 弁当
            option
              | コンビニ
            option
              | その他
          input.shadow.appearance-none.border.rounded.py-2.px-3.text-grey-darker
        .flex.flex-col.justify-center.items-center
          h6.text-black.font-medium.my-4
            | Order summart
          .flex.justify-between.items-center.w-full.py-5.border-b-2.border-gray-200
            p.text-gray-400.ml-4
              | カロリー
            input.shadow.appearance-none.border.rounded.py-2.px-3.text-grey-darker
            p.text-black.mr-4
              | kcal
          .flex.justify-between.items-center.w-full.py-5.border-b-2.border-gray-200
            p.text-gray-400.ml-4
              | たんぱく質
            p.text-black.mr-4
              | g
          .flex.justify-between.items-center.w-full.py-5.border-b-2.border-gray-200
            p.text-gray-400.ml-4
              | 脂質
            p.text-black.mr-4
              | g
          .flex.justify-between.items-center.w-full.py-5.border-b-2.border-gray-200
            p.text-gray-400.ml-4
              | 炭水化物
            p.text-black.mr-4
              | g
          .flex.justify-between.items-center.w-full.py-5.border-b-2.border-gray-200
            p.text-gray-400.ml-4
              | 糖質
            p.text-black.mr-4
              | g
          .flex.justify-between.items-center.w-full.py-5.border-b-2.border-gray-200
            p.text-gray-400.ml-4
              | 食物繊維
            p.text-black.mr-4
              | g
          .flex.justify-between.items-center.w-full.py-5.border-b-2.border-gray-200
            p.text-gray-400.ml-4
              | 塩分
            p.text-black.mr-4
              | g
          button
            | ビタミン・ミネラルを入力
          .flex.justify-between.items-center.w-full.py-5.border-b-2.border-gray-200
            p.text-gray-400.ml-4
              | ビタミンA
            p.text-black.mr-4
              | g
          .flex.justify-between.items-center.w-full.py-5.border-b-2.border-gray-200
            p.text-gray-400.ml-4
              | ビタミンD
            p.text-black.mr-4
              | g
          .flex.justify-between.items-center.w-full.py-5.border-b-2.border-gray-200
            p.text-gray-400.ml-4
              | ビタミンE
            p.text-black.mr-4
              | g
          .flex.justify-between.items-center.w-full.py-5.border-b-2.border-gray-200
            p.text-gray-400.ml-4
              | ビタミンB1
            p.text-black.mr-4
              | g
          .flex.justify-between.items-center.w-full.py-5.border-b-2.border-gray-200
            p.text-gray-400.ml-4
              | ビタミンB2
            p.text-black.mr-4
              | g
          .flex.justify-between.items-center.w-full.py-5.border-b-2.border-gray-200
            p.text-gray-400.ml-4
              | ビタミンB6
            p.text-black.mr-4
              | g
          .flex.justify-between.items-center.w-full.py-5.border-b-2.border-gray-200
            p.text-gray-400.ml-4
              | ビタミンB12
            p.text-black.mr-4
              | g
          .flex.justify-between.items-center.w-full.py-5.border-b-2.border-gray-200
            p.text-gray-400.ml-4
              | ビタミンC
            p.text-black.mr-4
              | g
          .flex.justify-between.items-center.w-full.py-5.border-b-2.border-gray-200
            p.text-gray-400.ml-4
              | カリウム
            p.text-black.mr-4
              | g
          .flex.justify-between.items-center.w-full.py-5.border-b-2.border-gray-200
            p.text-gray-400.ml-4
              | カルシウム
            p.text-black.mr-4
              | g
          .flex.justify-between.items-center.w-full.py-5.border-b-2.border-gray-200
            p.text-gray-400.ml-4
              | マグネシウム
            p.text-black.mr-4
              | g
          .flex.justify-between.items-center.w-full.py-5.border-b-2.border-gray-200
            p.text-gray-400.ml-4
              | 鉄
            p.text-black.mr-4
              | g
          .flex.justify-between.items-center.w-full.py-5.border-b-2.border-gray-200
            p.text-gray-400.ml-4
              | メモ
            input.shadow.appearance-none.border.rounded.py-2.px-3.text-grey-darker
        .mt-5.text-right.md:space-x-3.md:block.flex.flex-col-reverse
          button.mb-2.md:mb-0.bg-white.px-5.py-2.text-sm.shadow-sm.font-medium.tracking-wider.border.text-gray-600.rounded-full.hover:shadow-lg.hover:bg-gray-100
            |  戻る 
          button.mb-2.md:mb-0.bg-green-400.px-5.py-2.text-sm.shadow-sm.font-medium.tracking-wider.text-white.rounded-full.hover:shadow-lg.hover:bg-green-500
            | 登録する
