
<!-- component -->
<div class="relative flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8 relative items-center bg-green-200">
	<div class="max-w-7xl w-full space-y-8 p-10 bg-white rounded-xl shadow-lg z-10">
		<div class="grid  gap-8 grid-cols-1">
			<div class="flex flex-col ">
				<div class="flex flex-col sm:flex-row items-center">
					<h1 class="block w-full text-center text-green-400 text-2xl font-bold mb-6">Myメニュー作成</h1>
					<div class="w-full sm:w-auto sm:ml-auto mt-3 sm:mt-0"></div>
          <img alt="ecommerce" class="object-cover object-center block" src="https://dummyimage.com/120x120">
					  <select class="border border-gray-300 rounded-full text-gray-600 h-10 pl-5 pr-10 bg-white hover:border-gray-400 focus:outline-none appearance-none">
					    <option>食材</option>
					    <option>主菜</option>
					    <option>副菜</option>
					    <option>飲み物</option>
					    <option>デザート</option>
					    <option>お菓子</option>
					    <option>食材</option>
              <option>セット</option>
              <option>弁当</option>
              <option>コンビニ</option>
              <option>その他</option>
					  </select>
            <input class="shadow appearance-none border rounded py-2 px-3 text-grey-darker">

					</div>

          <!-- first -->
          <div class="flex flex-col justify-center items-center">
            <h6 class="text-black font-medium my-4">Order summart</h6>
            <div
              class="
                flex
                justify-between
                items-center
                w-full
                py-5
                border-b-2 border-gray-200
              "
            >
              <p class="text-gray-400 ml-4">カロリー</p>
              <input class="shadow appearance-none border rounded py-2 px-3 text-grey-darker">
              <p class="text-black mr-4">kcal</p>
            </div>
            <div
              class="
                flex
                justify-between
                items-center
                w-full
                py-5
                border-b-2 border-gray-200
              "
            >
              <p class="text-gray-400 ml-4">たんぱく質</p>
              <p class="text-black mr-4">g</p>
            </div>
            <div
              class="
                flex
                justify-between
                items-center
                w-full
                py-5
                border-b-2 border-gray-200
              "
            >
              <p class="text-gray-400 ml-4">脂質</p>
              <p class="text-black mr-4">g</p>
            </div>
            <div
              class="
                flex
                justify-between
                items-center
                w-full
                py-5
                border-b-2 border-gray-200
              "
            >
              <p class="text-gray-400 ml-4">炭水化物</p>
              <p class="text-black mr-4">g</p>
            </div>
            <div
              class="
                flex
                justify-between
                items-center
                w-full
                py-5
                border-b-2 border-gray-200
              "
            >
              <p class="text-gray-400 ml-4">糖質</p>
              <p class="text-black mr-4">g</p>
            </div>
            <div
              class="
                flex
                justify-between
                items-center
                w-full
                py-5
                border-b-2 border-gray-200
              "
            >
              <p class="text-gray-400 ml-4">食物繊維</p>
              <p class="text-black mr-4">g</p>
            </div>
            <div
              class="
                flex
                justify-between
                items-center
                w-full
                py-5
                border-b-2 border-gray-200
              "
            >
              <p class="text-gray-400 ml-4">塩分</p>
              <p class="text-black mr-4">g</p>
            </div>
            <button>ビタミン・ミネラルを入力</button>
            <div
              class="
                flex
                justify-between
                items-center
                w-full
                py-5
                border-b-2 border-gray-200
              "
            >
              <p class="text-gray-400 ml-4">ビタミンA</p>
              <p class="text-black mr-4">g</p>
            </div>
            <div
              class="
                flex
                justify-between
                items-center
                w-full
                py-5
                border-b-2 border-gray-200
              "
            >
              <p class="text-gray-400 ml-4">ビタミンD</p>
              <p class="text-black mr-4">g</p>
            </div>
            <div
              class="
                flex
                justify-between
                items-center
                w-full
                py-5
                border-b-2 border-gray-200
              "
            >
              <p class="text-gray-400 ml-4">ビタミンE</p>
              <p class="text-black mr-4">g</p>
            </div>
            <div
              class="
                flex
                justify-between
                items-center
                w-full
                py-5
                border-b-2 border-gray-200
              "
            >
              <p class="text-gray-400 ml-4">ビタミンB1</p>
              <p class="text-black mr-4">g</p>
            </div>
            <div
              class="
                flex
                justify-between
                items-center
                w-full
                py-5
                border-b-2 border-gray-200
              "
            >
              <p class="text-gray-400 ml-4">ビタミンB2</p>
              <p class="text-black mr-4">g</p>
            </div>
            <div
              class="
                flex
                justify-between
                items-center
                w-full
                py-5
                border-b-2 border-gray-200
              "
            >
              <p class="text-gray-400 ml-4">ビタミンB6</p>
              <p class="text-black mr-4">g</p>
            </div>
            <div
              class="
                flex
                justify-between
                items-center
                w-full
                py-5
                border-b-2 border-gray-200
              "
            >
              <p class="text-gray-400 ml-4">ビタミンB12</p>
              <p class="text-black mr-4">g</p>
            </div>
            <div
              class="
                flex
                justify-between
                items-center
                w-full
                py-5
                border-b-2 border-gray-200
              "
            >
              <p class="text-gray-400 ml-4">ビタミンC</p>
              <p class="text-black mr-4">g</p>
            </div>
            <div
              class="
                flex
                justify-between
                items-center
                w-full
                py-5
                border-b-2 border-gray-200
              "
            >
              <p class="text-gray-400 ml-4">カリウム</p>
              <p class="text-black mr-4">g</p>
            </div>
            <div
              class="
                flex
                justify-between
                items-center
                w-full
                py-5
                border-b-2 border-gray-200
              "
            >
              <p class="text-gray-400 ml-4">カルシウム</p>
              <p class="text-black mr-4">g</p>
            </div>
            <div
              class="
                flex
                justify-between
                items-center
                w-full
                py-5
                border-b-2 border-gray-200
              "
            >
              <p class="text-gray-400 ml-4">マグネシウム</p>
              <p class="text-black mr-4">g</p>
            </div>
            <div
              class="
                flex
                justify-between
                items-center
                w-full
                py-5
                border-b-2 border-gray-200
              "
            >
              <p class="text-gray-400 ml-4">鉄</p>
              <p class="text-black mr-4">g</p>
            </div>

            <div
              class="
                flex
                justify-between
                items-center
                w-full
                py-5
                border-b-2 border-gray-200
              "
            >
              <p class="text-gray-400 ml-4">メモ</p>
              <input class="shadow appearance-none border rounded py-2 px-3 text-grey-darker">
            </div>
          </div>
          <div class="mt-5 text-right md:space-x-3 md:block flex flex-col-reverse">
            <button class="mb-2 md:mb-0 bg-white px-5 py-2 text-sm shadow-sm font-medium tracking-wider border text-gray-600 rounded-full hover:shadow-lg hover:bg-gray-100"> 戻る </button>
            <button class="mb-2 md:mb-0 bg-green-400 px-5 py-2 text-sm shadow-sm font-medium tracking-wider text-white rounded-full hover:shadow-lg hover:bg-green-500">登録する</button>
          </div>
          <!-- end -->
        </div>
      </div>
    </div>
  </div>
</div>
