

<!-- component -->
<div class="relative flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8 relative items-center">
	<div class="max-w-7xl w-full space-y-8 p-10 bg-white rounded-xl shadow-lg z-10">
<div class="grid  gap-8 grid-cols-1">
	<div class="flex flex-col ">
			<div class="flex flex-col sm:flex-row items-center">
				<h2 class="font-semibold text-lg mr-auto">Shop Info</h2>
				<div class="w-full sm:w-auto sm:ml-auto mt-3 sm:mt-0"></div>
			</div>
			<div class="mt-5">
				<div class="form">
                <!-- component -->
                <div class="w-full mx-auto mt-4  rounded">
                  <!-- Tabs -->
                  <ul id="tabs" class="inline-flex w-full px-1 pt-2 ">
                    <li class="px-4 py-2 -mb-px font-semibold text-gray-800 border-b-2 border-blue-400 rounded-t opacity-50"><a id="default-tab" href="#first">Myメニュー</a></li>
                    <li class="px-4 py-2 font-semibold text-gray-800 rounded-t opacity-50"><a href="#second">履歴</a></li>
                    <li class="px-4 py-2 font-semibold text-gray-800 rounded-t opacity-50"><a href="#third">検索</a></li>
                    <li class="px-4 py-2 font-semibold text-gray-800 rounded-t opacity-50"><a href="#fourth">その他</a></li>
                  </ul>

                  <!-- Tab Contents -->
                  <div id="tab-contents">
                    <div id="first" class="p-4">
                      First tab
                    </div>
                    <div id="second" class="hidden p-4">
                      Second tab
                    </div>
                    <div id="third" class="hidden p-4">
                      Third tab
                    </div>
                    <div id="fourth" class="hidden p-4">
                      Fourth tab
                    </div>
                  </div>
                </div>

                <div class="flex flex-wrap" id="tabs-id">
                  <div class="w-full">
                    <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
                      <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
                        <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-white bg-pink-600" onclick="changeAtiveTab(event,'tab-profile')">
                           朝
                        </a>
                      </li>
                      <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
                        <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-pink-600 bg-white" onclick="changeAtiveTab(event,'tab-settings')">
                           昼
                        </a>
                      </li>
                      <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
                        <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-pink-600 bg-white" onclick="changeAtiveTab(event,'tab-options')">
                           夕
                        </a>
                      </li>
                    </ul>
                    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
                      <div class="px-4 py-5 flex-auto">
                        <div class="tab-content tab-space">
                          <div class="block" id="tab-profile">
                            <p>
                              Collaboratively administrate empowered markets via
                              plug-and-play networks. Dynamically procrastinate B2C users
                              after installed base benefits.
                              <br />
                              <br />
                              Dramatically visualize customer directed convergence
                              without revolutionary ROI.
                            </p>
                          </div>
                          <div class="hidden" id="tab-settings">
                            <p>
                              Completely synergize resource taxing relationships via
                              premier niche markets. Professionally cultivate one-to-one
                              customer service with robust ideas.
                              <br />
                              <br />
                              Dynamically innovate resource-leveling customer service for
                              state of the art customer service.
                            </p>
                          </div>
                          <div class="hidden" id="tab-options">
                            <p>
                              Efficiently unleash cross-media information without
                              cross-media value. Quickly maximize timely deliverables for
                              real-time schemas.
                              <br />
                              <br />
                              Dramatically maintain clicks-and-mortar solutions
                              without functional solutions.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
								<p class="text-xs text-red-500 text-right my-3">Required fields are marked with an
									asterisk <abbr title="Required field">*</abbr></p>
								<div class="mt-5 text-right md:space-x-3 md:block flex flex-col-reverse">
									<button class="mb-2 md:mb-0 bg-white px-5 py-2 text-sm shadow-sm font-medium tracking-wider border text-gray-600 rounded-full hover:shadow-lg hover:bg-gray-100"> Cancel </button>
									<button class="mb-2 md:mb-0 bg-green-400 px-5 py-2 text-sm shadow-sm font-medium tracking-wider text-white rounded-full hover:shadow-lg hover:bg-green-500">Save</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>



<script type="text/javascript">
  function changeAtiveTab(event,tabID){
    let element = event.target;
    while(element.nodeName !== "A"){
      element = element.parentNode;
    }
    ulElement = element.parentNode.parentNode;
    aElements = ulElement.querySelectorAll("li > a");
    tabContents = document.getElementById("tabs-id").querySelectorAll(".tab-content > div");
    for(let i = 0 ; i < aElements.length; i++){
      aElements[i].classList.remove("text-white");
      aElements[i].classList.remove("bg-pink-600");
      aElements[i].classList.add("text-pink-600");
      aElements[i].classList.add("bg-white");
      tabContents[i].classList.add("hidden");
      tabContents[i].classList.remove("block");
    }
    element.classList.remove("text-pink-600");
    element.classList.remove("bg-white");
    element.classList.add("text-white");
    element.classList.add("bg-pink-600");
    document.getElementById(tabID).classList.remove("hidden");
    document.getElementById(tabID).classList.add("block");
  }
</script>


<script>
  let tabsContainer = document.querySelector("#tabs");

  let tabTogglers = tabsContainer.querySelectorAll("a");
  console.log(tabTogglers);

  tabTogglers.forEach(function(toggler) {
  toggler.addEventListener("click", function(e) {
  e.preventDefault();

  let tabName = this.getAttribute("href");

  let tabContents = document.querySelector("#tab-contents");

  for (let i = 0; i < tabContents.children.length; i++) {

  tabTogglers[i].parentElement.classList.remove("border-blue-400", "border-b",  "-mb-px", "opacity-100");  tabContents.children[i].classList.remove("hidden");
  if ("#" + tabContents.children[i].id === tabName) {
  continue;
  }
  tabContents.children[i].classList.add("hidden");

  }
  e.target.parentElement.classList.add("border-blue-400", "border-b-4", "-mb-px", "opacity-100");
  });
  });

  document.getElementById("default-tab").click();

</script>
