  <!-- ... -->
	<nav class="flex items-center justify-between flex-wrap bg-green-300 p-6">
		<div class="flex items-center flex-shrink-0 text-white mr-6">
			<svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg>
			<span class="font-semibold text-xl tracking-tight">Tailwind CSS</span>
		</div>
		<div class="block lg:hidden">
			<button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
				<svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
			</button>
		</div>
		<div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
			<div class="text-sm lg:flex-grow">
				<a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
					Docs
				</a>
				<a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
					Examples
				</a>
				<a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white">
					Blog
				</a>
			</div>
			<div>
				<a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Download</a>
			</div>
		</div>
	</nav>


<!-- component -->
<div class="relative flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8 relative items-center bg-green-200">
	<div class="max-w-7xl w-full space-y-8 p-10 bg-white rounded-xl shadow-lg z-10">
		<div class="grid  gap-8 grid-cols-1">
			<div class="flex flex-col ">
				<div class="flex flex-col sm:flex-row items-center">
					<h1 class="block w-full text-center text-green-400 text-2xl font-bold mb-6">食事登録</h1>
					<div class="w-full sm:w-auto sm:ml-auto mt-3 sm:mt-0"></div>
				</div>
				<div class="mt-5">
					<div class="form">
						<div class="mb-4">
							<label class="block text-gray-700 text-sm font-bold mb-2" for="Date">食事時刻</label>
							<input id="today" class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="date" type="date" value="" required>
							<!-- This is an example component -->
							<div class="relative inline-flex">
							  <svg class="w-2 h-2 absolute top-0 right-0 m-4 pointer-events-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 412 232"><path d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z" fill="#648299" fill-rule="nonzero"/></svg>
							  <select class="border border-gray-300 rounded-full text-gray-600 h-10 pl-5 pr-10 bg-white hover:border-gray-400 focus:outline-none appearance-none">
							    <option>食事時刻</option>
							    <option>朝食</option>
							    <option>朝間食</option>
							    <option>昼食</option>
							    <option>間食</option>
							    <option>夕食</option>
							    <option>夜食</option>
							  </select>
							</div>
						</div>

						<label class="block text-gray-700 text-sm font-bold mb-2" for="Date">
							食事入力
						</label>
							<div class="relative inline-block">
									<div class="absolute top-4 left-3"> <i class="fa fa-search text-gray-400 z-20 hover:text-gray-500"></i> </div> <input type="text" class="h-14 w-96 pl-10 pr-20 rounded-lg z-0 focus:shadow focus:outline-none" placeholder="食品名で検索する">
									<span class="absolute top-2 right-2"> <button class="h-10 w-20 text-white rounded-lg bg-red-500 hover:bg-red-600">食品検索</button> </span>
							</div>
							<button class="mb-2 md:mb-0 bg-green-400 px-5 py-2 text-sm shadow-sm font-medium tracking-wider text-white rounded-full hover:shadow-lg hover:bg-green-500"><i class="fas fa-camera"></i>　画像で検索する</button>
						</div>

  					<div class="px-8 pt-2 mb-4 bg-white shadow-md">
  					  <nav id="tabs" class="flex flex-row justify-center -mb-px text-xs text-gray-500 font-bold text-center">
  					    <a id="default-tab" href="#first" class="flex-1 mr-8 py-3 no-underline border-b-2 border-green-500 tracking-wide text-green-500 flex flex-col">
  					      <i class="fa fa-home fa-2x"></i>
  					      <span class="pt-1">Myメニュー</span>
  					    </a>
  					    <a href="#second" class="flex-1 mr-8 py-3 no-underline border-b-2 border-transparent tracking-wide flex flex-col">
  					      <i class="fa fa-bars fa-2x"></i>
  					      <span class="pt-1">履歴</span>
  					    </a>
  					    <a href="#third" class="flex-1 mr-8 py-3 no-underline border-b-2 border-transparent tracking-wide flex flex-col">
  					      <i class="fa fa-search fa-2x"></i>
  					      <span class="pt-1">検索</span>
  					    </a>
  					    <a href="#fourth" class="flex-1 mr-8 py-3 no-underline border-b-2 border-transparent tracking-wide flex flex-col">
  					      <i class="fa fa-user fa-2x"></i>
  					      <span class="pt-1">その他</span>
  					    </a>
  					  </nav>
  					</div>

		        <!-- component -->
		        <div class="w-full mx-auto mt-4  rounded">
		          <!-- Tab Contents -->
		          <div id="tab-contents">
		            <div id="first" class="p-4">
		              First tab
		            </div>
		            <div id="second" class="hidden p-4">
		        			<div class="flex flex-wrap" id="tabs-id">
		        			  <div class="w-full">
		        			    <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
		        			      <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
		        			        <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-white bg-pink-600" onclick="changeAtiveTab(event,'tab-break-fast')">
		        			           朝
		        			        </a>
		        			      </li>
		        			      <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
		        			        <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-pink-600 bg-white" onclick="changeAtiveTab(event,'tab-morning-snack')">
		        			           朝間食
		        			        </a>
		        			      </li>
		        			      <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
		        			        <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-pink-600 bg-white" onclick="changeAtiveTab(event,'tab-lunch')">
		        			           昼
		        			        </a>
		        			      </li>
		        			      <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
		        			        <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-pink-600 bg-white" onclick="changeAtiveTab(event,'tab-snack')">
		        			           間食
		        			        </a>
		        			      </li>
		        			      <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
		        			        <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-pink-600 bg-white" onclick="changeAtiveTab(event,'tab-dinner')">
		        			           夕
		        			        </a>
		        			      </li>
		        			      <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
		        			        <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-pink-600 bg-white" onclick="changeAtiveTab(event,'tab-night-meal')">
		        			           夜食
		        			        </a>
		        			      </li>
		        			    </ul>
		        			    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
		        			      <div class="px-4 py-5 flex-auto">
		        			        <div class="tab-content tab-space">
		        			          <div class="block" id="tab-break-fast">
		        			            <p>
		        			              Collaboratively administrate empowered markets via
		        			              plug-and-play networks. Dynamically procrastinate B2C users
		        			              after installed base benefits.
		        			              <br />
		        			              <br />
		        			              Dramatically visualize customer directed convergence
		        			              without revolutionary ROI.
		        			            </p>
		        			          </div>
		        			          <div class="hidden" id="tab-morning-snack">
		        			            <p>
		        			              Completely synergize resource taxing relationships via
		        			              premier niche markets. Professionally cultivate one-to-one
		        			              customer service with robust ideas.
		        			              <br />
		        			              <br />
		        			              Dynamically innovate resource-leveling customer service for
		        			              state of the art customer service.
		        			            </p>
		        			          </div>
		        			          <div class="hidden" id="tab-lunch">
		        			            <p>
		        			              Efficiently unleash cross-media information without
		        			              cross-media value. Quickly maximize timely deliverables for
		        			              real-time schemas.
		        			              <br />
		        			              <br />
		        			              Dramatically maintain clicks-and-mortar solutions
		        			              without functional solutions.
		        			            </p>
		        			          </div>
		        			          <div class="hidden" id="tab-snack">
		        			            <p>
		        			              Efficiently unleash cross-media information without
		        			              cross-media value. Quickly maximize timely deliverables for
		        			              real-time schemas.
		        			              <br />
		        			              <br />
		        			              Dramatically maintain clicks-and-mortar solutions
		        			              without functional solutions.
		        			            </p>
		        			          </div>
		        			          <div class="hidden" id="tab-dinner">
		        			            <p>
		        			              Efficiently unleash cross-media information without
		        			              cross-media value. Quickly maximize timely deliverables for
		        			              real-time schemas.
		        			              <br />
		        			              <br />
		        			              Dramatically maintain clicks-and-mortar solutions
		        			              without functional solutions.
		        			            </p>
		        			          </div>
		        			          <div class="hidden" id="tab-night-meal">
		        			            <p>
		        			              Efficiently unleash cross-media information without
		        			              cross-media value. Quickly maximize timely deliverables for
		        			              real-time schemas.
		        			              <br />
		        			              <br />
		        			              Dramatically maintain clicks-and-mortar solutions
		        			              without functional solutions.
		        			            </p>
		        			          </div>
		        			        </div>
		        			      </div>
		        			    </div>
		        			  </div>
		        			</div>
		            </div>
		            <div id="third" class="hidden p-4">

		        <div class="flex flex-wrap" id="tabs-id">
		          <div class="w-full">
		            <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
		              <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
		                <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-white bg-pink-600" onclick="changeAtiveTab(event,'tab-eating-out')">
		                   外食
		                </a>
		              </li>
		              <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
		                <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-pink-600 bg-white" onclick="changeAtiveTab(event,'tab-general-cooking')">
		                   一般料理
		                </a>
		              </li>
		            </ul>
		            <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
		              <div class="px-4 py-5 flex-auto">
		                <div class="tab-content tab-space">
		                  <div class="block" id="tab-eating-out">
		                    <p>
		                      Collaboratively administrate empowered markets via
		                      plug-and-play networks. Dynamically procrastinate B2C users
		                      after installed base benefits.
		                      Dramatically visualize customer directed convergence
		                      without revolutionary ROI.
		                    </p>
		                  </div>
		                  <div class="hidden" id="tab-general-cooking">
		                    <p>
		                      Completely synergize resource taxing relationships via
		                      premier niche markets. Professionally cultivate one-to-one
		                      customer service with robust ideas.
		                    </p>
		                  </div>
		                </div>
		              </div>
		            </div>
		          </div>
		        </div>
		            </div>
		            <div id="fourth" class="hidden p-4">
		              Fourth tab
		            </div>
		          </div>
		        </div>
						<div class="mt-5 text-right md:space-x-3 md:block flex flex-col-reverse">
							<button class="mb-2 md:mb-0 bg-white px-5 py-2 text-sm shadow-sm font-medium tracking-wider border text-gray-600 rounded-full hover:shadow-lg hover:bg-gray-100"> Cancel </button>
							<button class="mb-2 md:mb-0 bg-green-400 px-5 py-2 text-sm shadow-sm font-medium tracking-wider text-white rounded-full hover:shadow-lg hover:bg-green-500">Save</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



<script type="text/javascript">
  function changeAtiveTab(event,tabID){
    let element = event.target;
    while(element.nodeName !== "A"){
      element = element.parentNode;
    }
    ulElement = element.parentNode.parentNode;
    aElements = ulElement.querySelectorAll("li > a");
    tabContents = document.getElementById("tabs-id").querySelectorAll(".tab-content > div");
    for(let i = 0 ; i < aElements.length; i++){
      aElements[i].classList.remove("text-white");
      aElements[i].classList.remove("bg-pink-600");
      aElements[i].classList.add("text-pink-600");
      aElements[i].classList.add("bg-white");
      tabContents[i].classList.add("hidden");
      tabContents[i].classList.remove("block");
    }
    element.classList.remove("text-pink-600");
    element.classList.remove("bg-white");
    element.classList.add("text-white");
    element.classList.add("bg-pink-600");
    document.getElementById(tabID).classList.remove("hidden");
    document.getElementById(tabID).classList.add("block");
  }
</script>


<script>
  let tabsContainer = document.querySelector("#tabs");

  let tabTogglers = tabsContainer.querySelectorAll("a");
  console.log(tabTogglers);

  tabTogglers.forEach(function(toggler) {
  toggler.addEventListener("click", function(e) {
  e.preventDefault();

  let tabName = this.getAttribute("href");

  let tabContents = document.querySelector("#tab-contents");

  for (let i = 0; i < tabContents.children.length; i++) {

  tabTogglers[i].parentElement.classList.remove("border-green-400", "border-b",  "-mb-px", "opacity-100");  tabContents.children[i].classList.remove("hidden");
  if ("#" + tabContents.children[i].id === tabName) {
  continue;
  }
  tabContents.children[i].classList.add("hidden");

  }
  e.target.parentElement.classList.add("border-green-400", "border-b-4", "-mb-px", "opacity-100");
  });
  });

  document.getElementById("default-tab").click();

</script>

<style>
	.dropdown:hover > .dropdown-content {
		display: block;
	}
	</style>

<script type="text/javascript">
	//今日の日時を表示
			window.onload = function () {
					//今日の日時を表示
					var date = new Date()
					var year = date.getFullYear()
					var month = date.getMonth() + 1
					var day = date.getDate()

					var toTwoDigits = function (num, digit) {
						num += ''
						if (num.length < digit) {
							num = '0' + num
						}
						return num
					}

					var yyyy = toTwoDigits(year, 4)
					var mm = toTwoDigits(month, 2)
					var dd = toTwoDigits(day, 2)
					var ymd = yyyy + "-" + mm + "-" + dd;

					document.getElementById("today").value = ymd;
			}
</script>
